# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
!!reconocedoDeImg/2pe.jpg
!!reconocedoDeImg/5pe.jpg
!!reconocedoDeImg/5pe2.jpg
!!reconocedoDeImg/base.jpg
!!reconocedoDeImg/brief.html
!!reconocedoDeImg/brief1.png
!!reconocedoDeImg/brief2.png
!!reconocedoDeImg/demo.css
!!reconocedoDeImg/index.html
!!reconocedoDeImg/jquery-3.1.1.js
!!reconocedoDeImg/scanner.html
!!reconocedoDeImg/tracking-min.js
!!reconocedoDeImg/tracking.js-master/.bowerrc
!!reconocedoDeImg/tracking.js-master/.editorconfig
!!reconocedoDeImg/tracking.js-master/.gitignore
!!reconocedoDeImg/tracking.js-master/.jshintrc
!!reconocedoDeImg/tracking.js-master/.travis.yml
!!reconocedoDeImg/tracking.js-master/LICENSE.md
!!reconocedoDeImg/tracking.js-master/README.md
!!reconocedoDeImg/tracking.js-master/assets/opencv_haarcascade_converter.html
!!reconocedoDeImg/tracking.js-master/assets/opencv_haarcascade_eye.js
!!reconocedoDeImg/tracking.js-master/assets/opencv_haarcascade_frontalface_alt.js
!!reconocedoDeImg/tracking.js-master/assets/opencv_haarcascade_mouth.js
!!reconocedoDeImg/tracking.js-master/assets/opencv_haarcascade_upper_body.js
!!reconocedoDeImg/tracking.js-master/bower.json
!!reconocedoDeImg/tracking.js-master/examples/assets/minions.mp4
!!reconocedoDeImg/tracking.js-master/examples/assets/minions.ogv
!!reconocedoDeImg/tracking.js-master/examples/assets/psmove.png
!!reconocedoDeImg/tracking.js-master/examples/assets/splines.min.js
!!reconocedoDeImg/tracking.js-master/examples/assets/stats.min.js
!!reconocedoDeImg/tracking.js-master/examples/brief.html
!!reconocedoDeImg/tracking.js-master/examples/brief_camera.html
!!reconocedoDeImg/tracking.js-master/examples/color_camera.html
!!reconocedoDeImg/tracking.js-master/examples/color_draw_something.html
!!reconocedoDeImg/tracking.js-master/examples/color_fish_tank.html
!!reconocedoDeImg/tracking.js-master/examples/color_hello_world.html
!!reconocedoDeImg/tracking.js-master/examples/color_video.html
!!reconocedoDeImg/tracking.js-master/examples/face_camera.html
!!reconocedoDeImg/tracking.js-master/examples/face_fish_tank.html
!!reconocedoDeImg/tracking.js-master/examples/face_hello_world.html
!!reconocedoDeImg/tracking.js-master/examples/face_tag_friends.html
!!reconocedoDeImg/tracking.js-master/examples/fast.html
!!reconocedoDeImg/tracking.js-master/examples/fast_camera.html
!!reconocedoDeImg/tracking.js-master/gulpfile.js
!!reconocedoDeImg/tracking.js-master/package.json
!!reconocedoDeImg/tracking.js-master/src/detection/ViolaJones.js
!!reconocedoDeImg/tracking.js-master/src/detection/training/haar/eye.js
!!reconocedoDeImg/tracking.js-master/src/detection/training/haar/face.js
!!reconocedoDeImg/tracking.js-master/src/detection/training/haar/mouth.js
!!reconocedoDeImg/tracking.js-master/src/features/Brief.js
!!reconocedoDeImg/tracking.js-master/src/features/Fast.js
!!reconocedoDeImg/tracking.js-master/src/math/Math.js
!!reconocedoDeImg/tracking.js-master/src/math/Matrix.js
!!reconocedoDeImg/tracking.js-master/src/pose/EPnP.js
!!reconocedoDeImg/tracking.js-master/src/trackers/ColorTracker.js
!!reconocedoDeImg/tracking.js-master/src/trackers/ObjectTracker.js
!!reconocedoDeImg/tracking.js-master/src/trackers/Tracker.js
!!reconocedoDeImg/tracking.js-master/src/trackers/TrackerTask.js
!!reconocedoDeImg/tracking.js-master/src/tracking.js
!!reconocedoDeImg/tracking.js-master/src/utils/Canvas.js
!!reconocedoDeImg/tracking.js-master/src/utils/DisjointSet.js
!!reconocedoDeImg/tracking.js-master/src/utils/EventEmitter.js
!!reconocedoDeImg/tracking.js-master/src/utils/Image.js
!!reconocedoDeImg/tracking.js-master/test/Benchmark.js
!!reconocedoDeImg/tracking.js-master/test/Brief.js
!!reconocedoDeImg/tracking.js-master/test/ColorTracker.js
!!reconocedoDeImg/tracking.js-master/test/Fast.js
!!reconocedoDeImg/tracking.js-master/test/ObjectTracker.js
!!reconocedoDeImg/tracking.js-master/test/assets/box1.png
!!reconocedoDeImg/tracking.js-master/test/assets/box2.png
!!reconocedoDeImg/tracking.js-master/test/assets/faces.png
!!reconocedoDeImg/tracking.js-master/test/assets/psmove.png
!!reconocedoDeImg/tracking.js-master/test/perf/Brief.js
!!reconocedoDeImg/tracking.js-master/test/perf/ColorTracker.js
!!reconocedoDeImg/tracking.js-master/test/perf/Fast.js
!!reconocedoDeImg/tracking.js-master/test/perf/ObjectTracker.js
!!reconocedoDeImg/tracking.js-master/test/utils/benchmark.js
!!reconocedoDeImg/tracking.js-master/test/utils/sandbox.js
NAVEGACION.psd
gradle-2.2.1-all.zip
!!reconocedoDeImg/tracking.js-master/build/data/eye-min.js
!!reconocedoDeImg/tracking.js-master/build/data/eye.js
!!reconocedoDeImg/tracking.js-master/examples/assets/demo.css
!!reconocedoDeImg/tracking.js-master/examples/assets/draw_frame.png
!!reconocedoDeImg/tracking.js-master/examples/assets/faces.jpg
!!reconocedoDeImg/tracking.js-master/examples/assets/fast.png
!!reconocedoDeImg/tracking.js-master/examples/assets/fish_tank/FishTankRenderer.js
!!reconocedoDeImg/tracking.js-master/examples/assets/fish_tank/nx.png
!!reconocedoDeImg/tracking.js-master/examples/assets/fish_tank/ny.png
!!reconocedoDeImg/tracking.js-master/examples/assets/fish_tank/nz.png
!!reconocedoDeImg/tracking.js-master/examples/assets/fish_tank/px.png
!!reconocedoDeImg/tracking.js-master/examples/assets/fish_tank/py.png
!!reconocedoDeImg/tracking.js-master/examples/assets/fish_tank/pz.png
!!reconocedoDeImg/tracking.js-master/examples/assets/frame.png
