

@font-face {
    font-family: helveticaCond;
    src: url(../fonts/helveticaCond.otf);
}

@font-face {
    font-family: stencil;
    src: url(../fonts/stencil.otf);
}
p{
	font-family:helveticaCond;
}

h1, h2, h3, h4, h5, h6{font-family: stencil;color: white;font-weight: 100;}

#splash{
position:fixed;
width:100%;
height:100%;
background-image: url(../img/splash.jpg);
background-size: cover;
background-position: 50% 50%;
z-index:999;
display:block;
}


.contenidoCentrado, .seccion{
    box-sizing: border-box;
    padding-top:10px;
}
.seccion{
	position:fixed;
	width:100%;
	height:100%;
	display:none;
	text-align:center;
	background:white;
	background-size: cover;
	background-position: 50% 50%;
	padding: 0px;
	margin: 0px;
}
.contenidoCentrado{
	text-align:center;
	margin:0 auto;
	padding:10px;
	height:100%;
}


#mainMenu {
	background-image:url(../img/fondoMainMenu.jpg);
}

body, html{
	padding:0px;
	margin:0px;
	background:black;
}


#logoIMG{
	width: 70%;
}

.botonMenu{
	width: 42%;
	display: inline-block;
	margin-top: 10%;
	box-sizing: border-box;
	text-align: center;
}

.row .botonMenu:first-child{
	float:left;
}

.row .botonMenu:last-child{
	float:right;
}

.botonMenu img{
	width: 100%;
	transition:transform 0.1s;
}

.botonMenu:hover img{
	transform:scale(0.9);
}


@media (min-width:300px) and (max-width:360px){

}

@media (width:768px){
	#logoIMG{
		width:60%;
	}

	.botonMenu img{
		width: 76%;
		
	}

	.botonMenu{
		float: none !important;
	}
	
}


video{
	    width: 100%;
    height: 100%;
    background: black;
    margin: 0 auto;
    padding: 0px;
}

#cerrar{
	position:absolute;
	right: 10px;
	width: 30px;
	top: 10px;
	background-image: url(../img/cerrarVideo.png);
	background-size:contain;
	height: 30px;
	z-index: 9999999;
}


video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
   /* width: calc(100% + 30px);*/ /* Adjust as needed */
   width: 100%;
}

#previoVideoDino{
	width:80%;
}

h2{
	
	font-size:26px;
    color: white;
    font-weight: 100;
}

#footer{
	display:none;
	box-sizing: border-box;
	position:fixed;
	width:100%;
	height: 9%;
	bottom:0px;
	left:0px;
	margin:0px;
	padding:0px;
	background-color: #0c0c0c;
}

#footer a{
		width: 25%;
		display:inline-block;
		background-color: #0c0c0c;
		border-top: #343434 3px solid;
		margin: 0px;
		padding: 0px;
		background-size: contain;
		height: 100%;
		position: relative;
		text-align: center;
		margin-left: -2px;
		margin-right: -2px;
		box-sizing: border-box;
}

#footer a img{
	height: 62%;
	margin: 0 auto;
	transform: translateY(31%);
}


#footer a.active{
	border-top-color:#d26152;
	background-color:#242424;
}
